
		<div class="flip-card-container t2">
			<div class="flip-card">

				<div class="item flip-card-front">
					
				</div>

				<div class="item flip-card-back">
					<img id="t2" class="retina" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/t2.png" />			
				</div>

			</div>
		</div>