@import '../../../_common/styles/common.scss';


.dot{
	width: 5px;
	height: 5px;
	background-color: red;
	@include pos(0, 0);
}


.ball{
	// border: 1px solid blue;
	transform-origin: 50% 50%;

	// @include pos-scale(90, 90, .5);
}

.frame2{
	background-color: #001c82;
}

.logo{
	@include pos-scale(225, 167, .5);
	// @include pos-scale(55, 167, .5);
}

.ribbon{
	@include pos-scale(96, 0, .5);
	// @include pos-scale(176, 0, .5);
	img{
		@include pos(0, 0);
	}	
	.blue{
		transform-origin: 50% 0;
		@include pos-scale-xy(20, -70, 1.25, 1);
		
	}
	.end{
		@include pos-scale-xy(20, 0, 1, 1);
	}
}


.nba{
	@include pos-scale(10, 161, .5);
}




.frame1{
	// opacity: 1;
	background-color: white;
}